/* Footer */

.footer-home {
  flex-direction: column;
  background-color: #4c9bd2;
  padding-top: 2rem;
}

.footer-home p,
.footer-activiteiten p,
.footer-vrijwilligers p {
  padding-bottom: 2em;
}

.footer-activiteiten {
  flex-direction: column;
  background-color: #f9b715;
  padding-top: 2rem;
  color: black;
}

.footer-vrijwilligers {
  flex-direction: column;
  background-color: #4caf4e;
  padding-top: 2rem;
}

.green {
  display: flex;
  flex-direction: row;
  width: 80vw;
  margin: auto;
}

.green img {
  width: 10vw;
  height: auto;
  padding-bottom: 2.5rem;
}

.footer-stapsteen {
  font-weight: bold;
}

.footer-flex {
  display: flex;
  flex-direction: row;
}

.footer-erkend,
.footer-gesponsord {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

footer * {
  color: white;
}

.green > div {
  flex: 0 0 33.33%;
}

@media screen and (max-width: 900px) {
  .green {
    flex-direction: column;
  }
}
